*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2rem;
    color: rgb(59, 59, 59) ;
    width: 667;
    outline: none;
}
.calculator{
    display: flex;
    flex-direction: column;
    width: 40%;
    background:  rgb(182, 96, 78);
    padding: .25rem;
    border-right:.25rem solid rgb(162, 72, 54);
    border-bottom:.25rem solid rgb(162, 72, 54);
    border-radius: 1rem;
    margin: 2rem;
}
.row{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.button{
    width: 25%;
    height: 3rem;
    background-color: rgb(123, 213, 231);
    border:.025rem solid rgb(182, 96, 78);
    border-right:.12rem solid rgb(162, 72, 54);
    border-bottom:.12rem solid rgb(162, 72, 54);
    border-radius: 1rem;
    margin:.1rem;
}
.display{
    width: 75%;
    overflow: scroll;
    background-color: rgb(213, 231, 123);
    border-right:.12rem solid rgb(162, 72, 54);
    border-bottom:.12rem solid rgb(162, 72, 54);
}
.operator{
    background-color: rgb(147, 237, 255);
    border:.025rem solid rgb(182, 96, 78);
    border-right:.12rem solid rgb(162, 72, 54);
    border-bottom:.12rem solid rgb(162, 72, 54);
}
