*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2rem;
    color: rgb(59, 59, 59) ;
    width: 80%;
}
.calculator{
    display: flex;
    flex-direction: column;
    background: rgb(162, 72, 54);
    border:.25rem solid rgb(162, 72, 54);
    border-radius: 1rem;
}
.row{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.button{
    width: 25%;
    height: 3rem;
    background-color: rgb(123, 213, 231);
    border:.025rem solid rgb(162, 72, 54);
    border-radius: 1rem;
}
.display{
    width: 75%;
}
.operator{
    background-color: rgb(147, 237, 255);
    border:.025rem solid rgb(182, 96, 78);
}